<p-stepper [value]="1" class="container mx-auto block text-center" [linear]="true">
  <p-step-list>
    <p-step [value]="1">Background</p-step>
    <p-step [value]="2">Characters</p-step>
  </p-step-list>
  <p-step-panels>
    <p-step-panel [value]="1">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="mb-2 flex justify-center gap-2">
          <p-fileupload mode="basic" accept="image/*" chooseLabel="Background" chooseIcon="pi pi-upload" [auto]="true" [customUpload]="true" (uploadHandler)="loadBg($event)" />
          <p-button label="Next" [disabled]="!bg" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)" />
        </div>
        <img id="bg" [src]="bg" class="block w-full" />
      </ng-template>
    </p-step-panel>
    <p-step-panel [value]="2">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="mb-2 flex justify-center gap-2">
          <p-button label="Previous" [disabled]="!bg" icon="pi pi-arrow-left" iconPos="left" (onClick)="activateCallback(1)" />
          <p-fileupload *ngIf="bg" mode="basic" accept="image/*" chooseLabel="Characters" chooseIcon="pi pi-upload" [auto]="true" [multiple]="true" [customUpload]="true" (uploadHandler)="loadCharacters($event)" />
          <p-button [disabled]="!characters.length" label="Generate" (onClick)="generate()" />
        </div>
        <div class="relative mx-auto max-w-[1000px]">
          <img #preview src="assets/img/clear.jpg" />
          <div class="absolute" [style.left]="convert(preview, { width: 22 }) + 'px'" [style.top]="convert(preview, { height: 294 }) + 'px'" [style.right]="convert(preview, { width: 48 }) + 'px'">
            <div class="grid grid-cols-7" cdkDropList cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event)" [style.rowGap]="convert(preview, { width: 10 }) + 'px'" [style.columnGap]="convert(preview, { width: 9.5 }) + 'px'">
              <div class="relative block cursor-move overflow-hidden rounded transition-shadow" *ngFor="let character of characters; let index = index" cdkDrag [style.width]="convert(preview, { width: 250 }) + 'px'" [style.height]="convert(preview, { width: 320 }) + 'px'">
                <span class="pointer-events-none absolute left-0 top-0 block w-full text-xs">{{ character.filename }}</span>
                <img [src]="character.image" class="pointer-events-none block" />
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-panels>
</p-stepper>
