<div class="container mx-auto text-center" *ngIf="bg">
  <p-button *ngIf="characters.length" label="Generate" (onClick)="generate()" />
  <p-fileupload *ngIf="bg" mode="basic" accept="image/*" chooseLabel="Characters" chooseIcon="pi pi-upload" [auto]="true" [multiple]="true" [customUpload]="true" (uploadHandler)="loadCharacters($event)" />
  <div class="grid grid-cols-7">
    <div class="relative cursor-move" *ngFor="let character of characters; let index = index" pDraggable="character" pDroppable="character" (onDragStart)="onDragStart(index)" (onDrop)="onDrop(index)">
      <img [src]="character.image" class="pointer-events-none block" />
      <span class="absolute left-0 top-0 w-full">{{ character.filename }}</span>
    </div>
  </div>
  <p-fileupload mode="basic" accept="image/*" chooseLabel="Background" chooseIcon="pi pi-upload" [auto]="true" [customUpload]="true" (uploadHandler)="loadBg($event)" />
  <img id="bg" [src]="bg" class="block w-full" />
</div>
