<div class="container mx-auto">
  <p-select [(ngModel)]="source" [options]="nodes" [filter]="true" (onChange)="getDistances($event.value)" placeholder="Select a Node" optionLabel="name" optionValue="pos"></p-select>
  <table *ngIf="source && distances">
    <thead>
      <th>Town</th>
      <th>Bonus</th>
    </thead>
    <tbody>
      <tr *ngFor="let distance of distances">
        <td>{{ distance.town }}</td>
        <td>{{ distance.distance.toFixed(2) }}</td>
      </tr>
    </tbody>
  </table>
</div>
